<div class="contenedor">
  <div class="title">
    <h1>Bienvenidos a la Panadería SD</h1>
    <h5>Donde el amor y el pan van de la mano</h5>
  </div>
  <div class="_sec1">
    <div class="cuadro1">
      <p>Consultar producción</p>
      <div class="imagen">
        <a routerLink="production">
          <img src="assets/img/pan1.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="cuadro1">
      <p>Añadir producción</p>
      <div class="imagen">
        <a routerLink="addProd">
          <img src="assets/img/pan2.jpg" alt="">
        </a>
      </div>
    </div>
  </div>
</div>


