@import url('https://fonts.googleapis.com/css2?family=Asap:wght@300&family=Manrope&family=Quicksand:wght@500&family=Titillium+Web&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Manrope';
  margin: 0px;
  padding:0px;
}
